body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image:url("../images/furley.png");
	background-repeat:repeat;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: center;

}
h1 {
	font-size: 52px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 72px;
}

img {
	margin-top: 80px;
}