html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image:url("../images/furley.png");
	background-repeat:repeat;
}

#wrapper {
	width: 800px;
  position:relative;
	margin: 0 auto;
	text-align: center;

}
h1 {
	font-size: 52px;
	font-weight: 900;
	margin-top: 0px;
	margin-bottom: 5px;
}
h2 {
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 100px;
	font-size: 40px;
}
#total {
	font-size: 72px;
	text-align: right;
	margin-top: 20px;
	background-color: black;
	color: white;
	height: 150px;
	line-height: 150px;
}

#total span{
	display: block;
	width: 800px;
	margin: 0 auto;
	padding-right: 10px;
}

#bigright {
  width:480px;
}

.bigcard {
  background-color: #0e9fd7;
  width: 415px;
  height: 220px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
  padding: 30px;
  position: absolute;
  right: 10px;
  top: 20px;  
  color: white;
}

.bigcard .logo {
  float: right;
  margin-bottom: 10px;
}

.bigcard .logo {
  margin-top: 10px;
}

.bigcard .cardnumlabel {
  clear: both;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px;
}

.bigcard .cardnumber {
  border: 3px solid white;
  margin-top: 5px;
  font-size: 35px;
  line-height: 50px;
  margin-bottom:0px;
}

.bigcard .cardnumber span {
  font-weight: 700;
  margin-right: 20px;
  margin-left: 20px;
}

.bigcard .name {
  height: 35px;
  line-height: 35px;
  font-size: 35px;
  font-weight: 600;
  margin-top:25px;
}

#smallcardgroup {
  background-image:url("../images/solid.png");
  background-repeat: repeat;
  width: 277px;
  top:0px;
  left: 0px;
  position:absolute;
  height:500px;
  overflow:scroll;
  padding-top:5px;
}

li {
  display: block;
}

ul {
  padding:0px;
}

.smallcard {
  background-color: #da3838;
  width: 207px;
  height: 110px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: left;
  padding: 15px;
  color: white;
}

.smallcard .logo {
  float: right;
  margin-bottom: 4px;
  margin-top: 3px;
  width: 50px;
  height: 15px;
}

.smallcard .cardnumlabel {
  clear: both;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 5px;
}

.smallcard .cardnumber {
  border: 3px solid white;
  margin-top: 5px;
  font-size: 15px;
  line-height: 30px;
}

.smallcard .cardnumber span {
  font-weight: 900;
  margin-right: 7px;
  margin-left: 7px;
}

.smallcard .name {
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  font-weight: 600;
}

.smallcard img {
  height: 24px;
  width: 33px;
}

#statement {
  font-weight: 600;
  text-align: left;
  font-size: 40px;
  position:absolute;
  top: 300px;
  right: 10px;
  width:475px;
}

#tot {
  font-weight: 900;
  text-align: left;
  font-size: 40px;
  position:absolute;
  top: 300px;
  right: 10px;
  width:475px;
}

#diffcard {
  font-weight: 700;
  text-align: left;
  font-size: 20px;
  position:absolute;
  padding-left:20px;
  padding-bottom:20px;
}



/* button
*******************************************************************************/
button.punch {
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  width: 150px;
  -webkit-background-clip: padding-box; }
  button.punch:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #76b347, 0px 1px 0 #5e9e2e, 0 6px 0px #76b347, 0 8px 4px 1px #111111;
    cursor: pointer; }
  button.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111; }

