body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image:url("../images/furley.png");
	background-repeat:repeat;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: center;

}

h2 {
	font-size: 40px;

}

img {
	margin-top: 80px;

}