html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image:url("../images/furley.png");
	background-repeat:repeat;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: center;

}
h1 {
	font-size: 52px;
	font-style: bold;

	margin-bottom: 5px;
}
h2 {
	margin-top: 5px;
	font-size: 40px;
}
#total {
	font-size: 72px;
	text-align: right;
	margin-top: 20px;
	background-color: black;
	color: white;
	height: 150px;
	line-height: 150px;
}

#total span{
	display: block;
	width: 800px;
	margin: 0 auto;
	padding-right: 10px;
}

img {
	margin-top: 90px;
	margin-bottom: 20px;
}