body{
	font-family: sans-serif;
}

#wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
	width: 350px;
	margin: 30px auto;
	background-color: #eee;
	border: 10px solid #ccc;
	border-radius: 5px;
	text-align: center;
}

img {
  width: 90%;
}