html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image:url("../images/furley.png");
	background-repeat:repeat;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
	text-align: center;

}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
	color:#303030;
	font-size: 40px;
	font-weight: 900;
	margin-top: 30px;
	margin-bottom: 30px;
}
h2 {
	color:#303030;
	font-weight: 900;
	font-style:italic;
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 40px;
}
#total {
	font-size: 72px;
	text-align: right;
	margin-top: 20px;
	background-image: url("../images/black.jpg");
	background-repeat:repeat;
	color: white;
	height: 150px;
	line-height: 150px;
	font-weight: 600;
}

#total span{
	display: block;
	width: 800px;
	margin: 0 auto;
	padding-right: 10px;
}

img {
	margin-top: 90px;
	margin-bottom: 20px;
}

#footer span{
	font-size:20px;
	weight: 400;
}

/* punch
*******************************************************************************/
button.punch {
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 10px;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  width: 270px;
  -webkit-background-clip: padding-box; }
  button.punch:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
  button.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;