html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	background-image:url("../images/bg_01_small.jpg");
	background-repeat:repeat;
}

#wrapper {
	width: 575px;
	margin: 10px auto;
	text-align: center;
	padding: 10px 50px;
  background-color: rgba(255,255,255,.9);

  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
	color:#303030;
	font-size: 40px;
	font-weight: 400;
	margin: 0;
}
h2 {
	color:#303030;
	font-weight: 900;
	font-style:italic;
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 40px;
}

img {
	margin-top: 25px;
	margin-bottom: 5px;
}

#team {
  margin-top: 15px;
}

#team span, #awards span{
  width: 100px;
  float: left;
  height: 4em;
  margin-right: 10px;
  text-align: right;
  font-weight: 900;
}

#awards b{
  height: 3em;
  margin-bottom: 5px;
}

#contact {
  margin-top: 0px;
  margin-bottom: 30px;
}

#about {
  font-size: 18px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 10px;
}

a {
  font-size: inherit;
}

#about a:hover{
  color: #005;
  text-decoration: underline;
}

#copyright {
  border-top: 1px solid #aaa;
  margin: 0 auto;
  color: #aaa;
  font-size: 14px;
  padding: 5px;
}

.twitter-follow-button{
  margin-left: 10px;
}

/* punch
*******************************************************************************/
button.punch {
  background: #4162a8;
  border-top: 1px solid #38538c;
  border-right: 1px solid #1f2d4d;
  border-bottom: 1px solid #151e33;
  border-left: 1px solid #1f2d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  padding: 10px 0 12px 0;
  text-align: center;
  text-shadow: 0px -1px 1px #1e2d4d;
  width: 240px;
  -webkit-background-clip: padding-box; }
  button.punch:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
  button.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;